body{
    font-family: Georgia, serif;
    text-align: center;
    background-color: #f4f1ea;
}

h1{
    margin-top: 20px;
    color: #2c2c2c;
}

/* tarjetas */
.card{
    display: inline-block;
    width: 220px;
    margin: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

/* imágenes */
.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* título */
.titulo{
    margin-top: 10px;
    font-weight: bold;
    color: #222;
    font-size: 16px;
}

/* descripción */
.descripcion{
    font-size: 13px;
    color: #777;
    font-style: italic;
    margin-top: 3px;
}



/* EJERCICIO 2 */

/* sombra */
.card{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

/* animación */
.card{
    transition: transform 0.3s;
}

/* efecto hover */
.card:hover{
    transform: scale(1.05);
}